In [1]:
# Encoding ---> Using this method , we can convert our categorical data into Numerical data .

# (1). LabelEncoding ---> Transform categorical data into Numerical data but it will work only 
# single-single column . It will automatically decide which value pass to the which sub-category .

# (2). OrdinalEncoding ---> Transform categorical data into Numerical data but it will work on 
# multiple column . It will automatically decodie which value pass to the which sub-category .

# (3). OnehotEncoding ---> Transform categorical data into Numerical data but it will create 
# new colum based on sub-categories which you mentioned in your column . It will not provide 
# you column name. 
# Column Survived(Yes , No) ---> Survived_Yes , Survived_No

# (4). get_dummies ----> Transform categorical data into Numerical data but it will create 
# new colum based on sub-categories which you mentioned in your column 
# but it will provide you column name also.
# Column Survived(Yes , No) ---> Survived_Yes , Survived_No

## (1). LabelEncoding

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("C:\\Users\\hardi\\OneDrive - wipro\\Desktop\\datasets\\covid_toy - covid_toy.csv")

In [8]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [10]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
from sklearn.impute import SimpleImputer

In [14]:
si = SimpleImputer()

In [16]:
df['fever'] = si.fit_transform(df[['fever']])

In [18]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [20]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

## LabelEncoding

In [23]:
from sklearn.preprocessing import LabelEncoder

In [25]:
lb = LabelEncoder()

In [27]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [31]:
df.sample(5)

    age  gender       fever  cough  city  has_covid
57   49       0   99.000000      1     0          0
6    14       1  101.000000      1     0          0
56   71       1  100.844444      1     2          0
83   17       0  104.000000      0     2          0
36   38       0  101.000000      0     0          0

In [33]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [35]:
df

    age  gender  fever  cough  city  has_covid
0    60       1  103.0      0     2          0
1    27       1  100.0      0     1          1
2    42       1  101.0      0     1          0
3    31       0   98.0      0     2          0
4    65       0  101.0      0     3          0
..  ...     ...    ...    ...   ...        ...
95   12       0  104.0      0     0          0
96   51       0  101.0      1     2          1
97   20       0  101.0      0     0          0
98    5       0   98.0      1     3          0
99   10       0   98.0      1     2          1

[100 rows x 6 columns]

In [37]:
from sklearn.model_selection import train_test_split

In [39]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [41]:
from sklearn.preprocessing import StandardScaler

In [43]:
sc = StandardScaler()

In [45]:
x_train_sc = sc.fit_transform(x_train)

In [47]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [49]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

In [51]:
df['city'].value_counts()

city
2    32
0    30
1    22
3    16
Name: count, dtype: int64

In [53]:
df = pd.read_csv("C:\\Users\\hardi\\OneDrive - wipro\\Desktop\\datasets\\tips - tips.csv")

In [55]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [57]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [59]:
from sklearn.preprocessing import LabelEncoder

In [61]:
lb = LabelEncoder()

In [63]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [65]:
df.head(5)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [67]:
x = df.drop(columns = ['total_bill'])
y  = df['total_bill']

In [69]:
df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [71]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [73]:
from sklearn.preprocessing import MinMaxScaler

In [75]:
mn = MinMaxScaler()

In [77]:
x_train_mn = mn.fit_transform(x_train)

In [79]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [81]:
np.round(x_train_new.describe() , 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

###  OrdinalEncoder

In [84]:
df = pd.read_csv("C:\\Users\\hardi\\OneDrive - wipro\\Desktop\\datasets\\covid_toy - covid_toy.csv")

In [86]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [88]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [93]:
df = df.drop(columns = ['age' , 'fever'])

In [95]:
df

    gender   cough       city has_covid
0     Male    Mild    Kolkata        No
1     Male    Mild      Delhi       Yes
2     Male    Mild      Delhi        No
3   Female    Mild    Kolkata        No
4   Female    Mild     Mumbai        No
..     ...     ...        ...       ...
95  Female    Mild  Bangalore        No
96  Female  Strong    Kolkata       Yes
97  Female    Mild  Bangalore        No
98  Female  Strong     Mumbai        No
99  Female  Strong    Kolkata       Yes

[100 rows x 4 columns]

In [99]:
df.isnull().sum()

gender       0
cough        0
city         0
has_covid    0
dtype: int64

In [101]:
from sklearn.preprocessing import OrdinalEncoder

In [103]:
oe = OrdinalEncoder(categories = [['Male' , 'Female'],
                                 ['Mild' , 'Strong'],
                                 ['Kolkata' ,'Bangalore' , 'Delhi' , 'Mumbai'],
                                 ['Yes' , 'No']])

In [105]:
oe_sc = oe.fit_transform(df)

In [107]:
new_df = pd.DataFrame(oe_sc , columns = df.columns)
new_df.head(3)

   gender  cough  city  has_covid
0     0.0    0.0   0.0        1.0
1     0.0    0.0   2.0        0.0
2     0.0    0.0   2.0        1.0

In [113]:
new_df = new_df.astype(int)
new_df.head()

   gender  cough  city  has_covid
0       0      0     0          1
1       0      0     2          0
2       0      0     2          1
3       1      0     0          1
4       1      0     3          1